* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
}

a {
  text-decoration: none;
}

.logout-bag img {
  width: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.logout-bag img:hover {
  transform: scale(1.2);
}

/* Gallery */

.gallery {
  padding: 20px 60px;
}

.gallery .input-box {
  width: 500px;
  margin: 0 auto 80px;
}

.input-box input {
  padding: 20px;
  width: 100%;
  height: 30px;
  outline: none;
  border: .5px solid brown;
  border-radius: 5px;
  font-size: 17px;
  background: transparent;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  row-gap: 2.5rem;
  column-gap: 2.5rem;
  margin-top: 30px;
}

.photo-container .photo-bag {
  width: 300px;
  height: 550px;
  /* border: .5px solid #000; */
}

.photo-bag .photo {
  width: 300px;
  height: 500px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.photo-bag button {
  background-color: transparent;
  color: brown;
  font-size: 15px;
  border: .5px solid brown;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 750px) {
  header {
    padding: 20px;
  }

  .gallery {
    padding: 20px auto;
  }

  .gallery .input-box {
    width: 90%;
  }
}


/*
@media only screen and (max-width: 700px) {

  .gallery {
    padding: 10px auto;
  }

  .gallery .input-box {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .photo img {
    margin: auto auto;
  }
} */